.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 20px 0;
}

.App-footer {
  background-color: #f8f9fa;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 1vmin);
  color: #282c34;
  padding: 10px 0;
  border-top: 1px solid #dee2e6;
}

.map-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.vsm-wrapper {
  border: 1px solid #dee2e6;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  min-height: 70vh;
  overflow: auto;
}

.metrics-summary {
  width: 100%;
  max-width: 800px;
}
